:root {
  --first-color-var-O: black;
  --first-color-var-1: #C3C3C3;
  --second-color-var-0: #FA8072;
  --third-color-var-0: #F6D9BB;
  --first-font-var-0: 'Heebo', sans-serif;
}

/* General Style */
body {
  max-width: 768px;
  text-align: center;
}

body, .nav-section {
  background-color: var(--first-color-var-O);
}

main {
  transition: 0.5s;
  padding: 0 12%;
}

h1, h2,
.h2, h3 {
  font-family: var(--first-font-var-0);
  margin: 0;
}

h1 {
  padding: 6% 0;
  font-size: 13vw;
}

h2, .h2 {
  padding: 4% 0;
  font-size: 10vw;
  color: var(--third-color-var-0);
}

h3, .h3 {
  color: var(--second-color-var-0);
  padding: 4% 0;
  font-size: 8vw;
}

p, .p {
  font-size: 5vw;
}

ul {
  padding: 0;
  margin: 0;
}

li:last-child {
  padding-bottom: 10%;
}

/* Background image */
.bg-img-custom {
  background-repeat: no-repeat;
  background-position: center;
}
.logo-section {
  height: 50vh;
  background-image: url(https://www.sushifreshparis.fr/images/logo.png);
}
/* Navigation */
.nav, .nav-section {
  height: min-content;
}
.nav * {
  height: 13vw;
}
.nav-item:nth-child(1) {
  background-image: url(https://www.sushifreshparis.fr/images/logo.png);
  background-size: contain;
  width: 45%;
}

.nav-item:nth-child(2) {
  background-image: url(/sushi-fresh/img/shopping-cart-outline-svgrepo-com.svg);
  background-size: contain;
  width: 20%;
}

.nav-item:nth-child(3) {
  background-image: url(/sushi-fresh/img/menu-svgrepo-com.svg);
  background-size: contain;
  width: 12%;
  height: 10vw;
}

/* Displayed nav */

.nav-display {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.438);
  transform: translateX(-100%);
  z-index: 1010;
  transition: 0.5s ease-in;
}

.nav-display-move {
  transform: translateX(0);
}
.h2 > a {
  color: var(--third-color-var-0);
  text-decoration: none;
}

/* Effects */

.blur-effect {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transition: 0.5s;
}

/* Button effect by Satyam Singh from https://codepen.io/Anon_satyam/pen/JjXLoNJ*/

/* For standard buttons */
.btn-span {
  position: relative;
  display: inline-flex;
  width: 50vw;
  perspective: 1000px;
}

.btn-span div {
  font-size: 19px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .15s;

}

.btn-span div:before,
.btn-span div:after {
  padding: 10% 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
}

.btn-span div:before {
  color: var(--third-color-var-0);
  background-color: var(--second-color-var-0);
  transform: rotateY(0deg) translateZ(25px);
}

.btn-span div:after {
  color: var(--second-color-var-0);
  background-color: var(--third-color-var-0);
  transform: rotateX(90deg) translateZ(25px);
}

.btn-span div:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}

/* For inversed button */

.btn-span .btn-variation-1:before {
  background-color: var(--third-color-var-0);
  color: var(--second-color-var-0);
}

.btn-span .btn-variation-1:after {
  background-color: var(--second-color-var-0);
  color: var(--third-color-var-0);
}

/* btn content for each button */
.btn-order:before,
.btn-order:after {
  content: "Order";
}

.btn-menu:before,
.btn-menu:after {
  content: "Menu";
}

.btn-pickup:before,
.btn-pickup:after {
  content: "Pick-up";
}

.btn-delivery:before,
.btn-delivery:after {
  content: "Delivery";
}

.btn-cash:before,
.btn-cash:after {
  content: "Cash";
}

.btn-card:before,
.btn-card:after {
  content: "Credit Card";
}